body {
  color: #c5c9c5;
  background-color: #181616;
  font-family: cantarell,liberation,arial,helvetica,sans-serif
}

a:link {
    color: #6884c0;
    text-decoration: none;
}

a:visited {
    color: #7e9cd8;
    text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h2 {
  color: #b6927b;
}

h3 {
    color: #b6927b;
    margin-left: 20px;
}

dt {
    color: #c5c9c5;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 600;
}

dd {
    color: #c5c9c5;
    margin-left: 55px;
    font-weight: 300;
}
